body, html {
    background: rgb(249 238 199);
    font-family: sans-serif;
    min-width: 800px;
    font-family: cursive;
}

.content {
    background: rgb(135 202 94);
    margin: 0 auto;
    width: 90%;
    border-radius: 6px;
    min-width: 900px;
}

table {
    border-spacing: 1; 
    border-collapse: collapse; 
    background: rgb(181 222 81);
    border-radius:6px;
    overflow:hidden;
    min-width: 700px;
    width: 96%;
    margin:0 auto;
    position:relative;
    border-radius: 10px;
}

table, td, th {
    border: 1px solid #aaa;
}

th {
    height: 30px;
}

h1{
    font-family: fangsong;
    height: 60px;
    margin-top: 30px;
    margin-bottom: auto;
    font-size: 3em;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    background:rgb(200 234 117);
}

.tr_header {
    background:rgb(235, 214, 95);
    margin-top: 20px;
    border-collapse: collapse; 
}

.button_form {
    display:inline-block;
}

#content {
    width: 100%;
}

.form-input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    margin-left: 5%;
    margin-right: 5%;
}

.form-input label {
    margin: 5px 10px 5px 0;
}
  
.form-input input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: rgb(215 232 136);
    font-family: cursive;
}
  
.form-input select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: rgb(215 232 136)
}

.form-input-but {
    width: 300px;
    align-self: center;
    background:rgb(88, 212, 104);
    font-family: fangsong;
    font-size: 1.5em;
    border-radius: 5px;
}
