  
{% extends 'base.html' %}

{% block head %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Departments</h1>
    {% if departments|length < 1 %}
    <h4 style="text-align: center">Create new department:</h4>
    {% else %}
    <table>
        <tr class = "tr_header">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Phone</th>
            <th>Number of Employees</th>
            <th>Average salary</th>
            <th>Action</th>
        </tr>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.email }}</td>
                <td>{{ department.adress }}</td>
                <td>{{ department.phone }}</td>
                <td>
                    <a href="/employees/by_department/{{department.id}}">
                        {{ department.emp_num }}
                    </a>
                </td>
                <td>{{ department.salary }}</td>
                <td>
                    <a href="/delete/department/{{department.id}}">Delete</a>
                    <br>
                    <a href="/update/department/{{department.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form-input">
        <form action="/create/department">
            <input class="form-input-but" class="button_input" type="submit" value="Create new one" />
        </form>
        <form action="/employees">
            <input class="form-input-but" class="button_input" type="submit" value="Employees list" />
        </form>
    </div>
</div>
{% endblock %}