{% extends 'base.html' %}

{% block head %}
<title>Employees</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Employees</h1>
    {% if employees|length < 1 %}
    <h4 style="text-align: center">Create new Employee:</h4>
    {% else %}
    <table>
        <tr class = "tr_header">
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Born date</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.born_date }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.department }}</td>
                <td>
                    <a href="/delete/employee/{{employee.id}}">Delete</a>
                    <br>
                    <a href="/update/employee/{{employee.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form-input">
        <form action="/employees/by_date" method="POST">
            <label for="from_date">From date:</label>
            <input type="date" name="from_date" id="from_date" value="1990-01-01">
            <label for="to_date">To date:</label>
            <input type="date" name="to_date" id="to_date" value="2000-01-01">
            <input class="form-input-but" type="submit" value="Select for dates">
        </form>
    
        <form action="/create/employee">
            <input class="form-input-but" class="button_input" type="submit" value="Create new one" />
        </form>
        <form action="/">
            <input class="form-input-but" class="button_input" type="submit" value="Departments list" />
        </form>
    </div>
</div>
{% endblock %}