{% extends 'base.html' %}

{% block head %}
<title>Create or update</title>
{% endblock %}

{% block body %}
<div class="content">
    
    {% if department %}
    <h1 style="text-align: center">Update department</h1>
    <div class="form">
        <form class="form-input" action="/update/department/{{department.id}}" method="POST">
            <label for="name">Name:</label>
            <input type="text" maxlength=80 name="name" id="name" value="{{department.name}}" required>
            <label for="email">Email:</label>
            <input type="email" maxlength=120 name="email" id="email" value="{{department.email}}" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <label for="adress">Adress:</label>
            <input type="text" maxlength=120 name="adress" id="adress" value="{{department.adress}}">
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone" value="{{department.phone}}", pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <input class="form-input-but" type="submit" value="Update">
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center">Create department</h1>
    <div class="form">
        <form class="form-input" action="/create/department" method="POST">
            <label for="name">Name:</label>
            <input type="text" maxlength=80 name="name" id="name" value="New name" required>
            <label for="email">Email:</label>
            <input type="email" maxlength=120 name="email" id="email" value="New@email.com" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <label for="adress">Adress:</label>
            <input type="text" maxlength=120 name="adress" id="adress" value="New adress">
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone" value="000-000-0000", pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <input class="form-input-but" type="submit" value="Create">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}