{% extends 'base.html' %}

{% block head %}
<title>Create or update</title>
{% endblock %}

{% block body %}
<div class="content">
    
    {% if employee %}
    <h1 style="text-align: center">Update employee</h1>
    <div class="form">
        <form class="form-input" action="/update/employee/{{employee.id}}" method="POST">
            <label for="name">Name:</label>
            <input type="text" maxlength=80 name="name" id="name" value="{{employee.name}}">
            <label for="position">Position:</label>
            <input type="text" maxlength=120 name="position" id="position" value="{{employee.position}}">
            <label for="born_date">Born date:</label>
            <input type="date" name="born_date" id="born_date" value="{{employee.born_date}}">
            <label for="salary">Salary:</label>
            <input type="number" min="0" name="salary" id="salary" value="{{employee.salary}}">
            <label for="department">Department:</label>
            <select name="department" value="{{employee.department}}">
                <option value="None">None</option>
                {% for department in departments %}
                <option value="{{department.id}}">{{ department.name }}</option>
                {% endfor %}
            </select>
            <input class="form-input-but" type="submit" value="Update">
        </form>
    </div>
    {% else %}
    <h1 style="text-align: center">Create employee</h1>
    <div class="form">
        <form class="form-input" action="/create/employee" method="POST">
            <label for="name">Name:</label>
            <input type="text" maxlength=80 name="name" id="name" value="New employee">
            <label for="position">Position:</label>
            <input type="text" maxlength=120 name="position" id="position" value="New position">
            <label for="born_date">Born date:</label>
            <input type="date" name="born_date" id="born_date" value="2000-01-01">
            <label for="salary">Salary:</label>
            <input type="number" min="0" name="salary" id="salary" value="0">
            <label for="department">Department:</label>
            <select name="department" value="None">
                <option value="None">None</option>
                {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
            <input class="form-input-but" type="submit" value="Create">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}